<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../public/img/weathericon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>404</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>404 {{ search }} not found</h1>
    </div>
</body>
</html>